.navigation-button {
    position: absolute;
    width: 100%;
    top: 50%;
    z-index: 1;
}

.left-button {
    position: absolute;
    display: flex;
    align-items: center;
    left: 0px;
}

.right-button {
    position: absolute;
    display: flex;
    align-items: center;
    right: 0px;
}