.header-logo {
  height: 100%;
  display: flex;
  align-items: flex-start; /* Important: let margin-top apply */
}

.image-logo {
  width: 67px;
  height: 34px;
  /* margin-top: 20px; Add top space to help with test */
  margin-left: 32px; /* For left space test */
}
