.header-content {
    background-color: #34C94B;
    width: 1440px;
    height: 74px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header-button {
    border-radius: 12px;
    width: 170px;
    height: 47px;
    margin-top: 13px;
    margin-left: 1238px;
    background-color: #121212;
    padding: 10px 16px;
}
